.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  text-align: center;
}

.hero .col {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.hero .col h2 {
  font-size: 5rem;
}

.hero .col p {
  font-size: 2rem;
  width: 60%;
  min-width: 500px;
}

.our-team {
  width: 95%;
  margin: 2rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-team h3 {
  font-size: 3rem;
}

.our-team p {
  font-size: 1.5rem;
  width: 65%;
}

.teams {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.teams .team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.teams .team .circle {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px black solid;
}
